/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT * FROM dbo.MATRICULA

DELETE FROM dbo.MATRICULA WHERE IDMATRICULA='000'


values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),

values('0011-11','','','2011-1','','','','C01'),
values('0011-11','','','2011-1','','','','C01'),
